@model EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.ReprocessorExporterHomeViewModel

<dl class="govuk-summary-list govuk-!-margin-bottom-4">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            <a class="govuk-link" href="#">Assign officer</a>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-text-align-right govuk-!-width-one-third">
            <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
        </dd>
    </div>
</dl>
