@using EPR.RegulatorService.Frontend.Core.Enums

@model EPR.RegulatorService.Frontend.Web.ViewModels.ManageApprovalsViewModel

<ul class="govuk-list">
  <li>Organisation name : Green Ltd</li>

  @if(Model.ApprovalOrganisationType == ApprovalOrganisationType.Reprocessor)
  {
	<li>Site : 23 Ruby St, London, E12 3SE</li>
  }

  <li>Organisation type : @Model.ApprovalOrganisationType</li>
  <li>Regulator :  Environment Agency (EA) </li>
</ul>
