@model EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.ReprocessorExporterHomeViewModel

<h2 class="govuk-heading-m">
    Review @(Model.OrganisationType == "Exporter" ? "address, permits, licences or exemptions" : "site details")
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-4">
    @if (Model.OrganisationType == "Exporter")
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Business address</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Waste licences, permits or excemptions</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>
    }
    else
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Site address</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Materials authorised on site</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>    }
    
</dl>
