@using EPR.RegulatorService.Frontend.Core.Enums.ReprocessorExporter
@model EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Accreditations.ManageAccreditationsViewModel

@{
    ViewData["Title"] = $"Manage accreditation submissions - {Model.ApplicationType}";
    const string title = "Manage accreditation submissions";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2 reprocessorExporter">
                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-xl">@title</span>
                    @Model.OrganisationName
                </h1>

                @await Html.PartialAsync("~/Views/Shared/Partials/ReprocessorExporter/Accreditations/_AccreditationOrganisationDetails.cshtml", Model)

                @await Html.PartialAsync("~/Views/Shared/Partials/ReprocessorExporter/Accreditations/_AccreditationRegistrationStatus.cshtml", Model.Materials)

                @await Html.PartialAsync("~/Views/Shared/Partials/ReprocessorExporter/Accreditations/_AccreditationCheckStatus.cshtml", Model)

                @foreach (var material in Model.Materials)
                {
                    @await Html.PartialAsync("~/Views/Shared/Partials/ReprocessorExporter/Accreditations/_AccreditationMaterialReview.cshtml", material)
                }

            </div>
        </div>
    </main>
</div>
