@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared
@{
    var backLinkModel = @Model as BackLinkModel;
}

<a href="@backLinkModel.PagePath" class="govuk-back-link"
   aria-label="@((!string.IsNullOrEmpty(backLinkModel.AriaLabel)) ? backLinkModel.AriaLabel : null)"
>@SharedLocalizer["Back"]</a>
