@using EPR.RegulatorService.Frontend.Web.ViewModels.ManageRegistrationSubmissions
@model RegistrationSubmissionDetailsViewModel

<div class="govuk-!-margin-bottom-4">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Localizer["RegistrationSubmissionDetails.PowerBiTitle"]</h3>
    <p class="govuk-body">
        @Localizer["RegistrationSubmissionDetails.PowerBiSubTitle"]
        <a href="@Model.PowerBiLogin" target="_blank" class="govuk-link govuk-link--no-visited-state">@SharedLocalizer["Link.LogIntoPowerBI"]</a>.
    </p>
</div>
