@using EPR.RegulatorService.Frontend.Core.Extensions
@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.RegistrationSubmissions
@using System.Globalization
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK

@model CompliancePaymentDetailsViewModel
@{
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
        <h2 class="govuk-summary-card__title">@Localizer["CompliancePaymentDetails.Title"]</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"></li>
        </ul>
    </div>
    <div class="govuk-summary-card__content" style="padding-bottom: 0px;">
        <p>Compliance scheme payment details not yet available</p>
    </div>
</div>
