@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Registrations
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model ApplicationRefusedViewModel

@{
  ViewData["Title"] = "Refusal details";
  var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<div class="govuk-width-container ">
  <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">@Model.MaterialName</span>
          Provide refusal details
        </h1>
        
        @if (!ViewData.ModelState.IsValid)
        {
          @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)
        }

        <form class="form" action="@Url.Action("ApplicationRefusedDetails", "ApplicationUpdate")" method="POST">
          <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "") govuk-character-count" data-module="govuk-character-count" data-maxlength="200">

            @await Html.PartialAsync("Partials/Govuk/_ErrorList", errorsViewModel)

						<textarea class="govuk-textarea govuk-js-character-count" id="comments" name="comments" rows="5" aria-describedby="label-comments">@Model.Comments</textarea>
            <div id="label-comments" class="govuk-hint govuk-character-count__message govuk-visually-hidden">
              You can enter up to 200 characters
            </div>
            <div class="govuk-hint govuk-character-count__message govuk-character-count__status" aria-hidden="true">You have 200 characters remaining</div>
            <div class="govuk-character-count__sr-status govuk-visually-hidden" aria-live="polite">You have 200 characters remaining</div>
          </div>
          
          <button type="submit" class="govuk-button govuk-body govuk-!-margin-top-6" data-module="govuk-button">
            Mark as refused
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
