@{
    ViewData["Title"] = "Business address";
}

<div class="govuk-width-container ">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
                <h1 class="govuk-heading-l">
                    Business address
                </h1>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Address for legal documents and official correspondence
                        </dt>
                        <dd class="govuk-summary-list__value">
                            23 Ruby St, London, E12 3SE
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Registered address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            23 Ruby St, London, E12 3SE
                        </dd>
                    </div>
                </dl>

                <br>

                <div class="govuk-button-group !-margin-top-6">
                    <a href="address-complete" class="govuk-link">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Mark as reviewed
                        </button>
                    </a>
                    <a href="#" class="govuk-link">
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Query the business address
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>
