@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-l">Green Ltd: 2 Ruby St, London, E12 3SE</span>
                    Provide query details
                </h1>


                <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="500">

                    <textarea class="govuk-textarea govuk-js-character-count" id="label-as-page-heading" name="labelAsPageHeading" rows="5" aria-describedby="label-as-page-heading-info"></textarea><div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message govuk-visually-hidden">
                        You can enter up to 200 characters
                    </div><div class="govuk-hint govuk-character-count__message govuk-character-count__status" aria-hidden="true">You have 200 characters remaining</div><div class="govuk-character-count__sr-status govuk-visually-hidden" aria-live="polite">You have 200 characters remaining</div>

                </div>

                <a href="plastic-queried" class="govuk-link">
                    <button type="submit" class="govuk-button govuk-body govuk-!-margin-top-6" data-module="govuk-button">
                        Mark as queried
                    </button>
                </a>
            </div>
        </div>    
    </main>
</div>
