@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Registrations
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}
@model QueryRegistrationTaskViewModel

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
                <h1 class="govuk-heading-l">
                  <span class="govuk-caption-l">Green Ltd: 2 Ruby St, London, E12 3SE</span>
                  Provide query details
                </h1>
                <p class="govuk-body">Details entered here will not be shared with the applicant directly but may be subject to a Freedom of Information (FOI) request. </p>

                <form asp-controller="Registrations" asp-action="QueryRegistrationTask" method="post">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)
                    }

                    <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "") govuk-character-count" data-module="govuk-character-count" data-maxlength="500">

                        <textarea class="govuk-textarea govuk-js-character-count" id="Comments" name="Comments" aria-describedby="Comments-info" rows="5">@Model.Comments</textarea>
                        <div id="Comments-info" class="govuk-hint govuk-character-count__message govuk-character-count__status">
                            You can enter up to 500 characters
                        </div>
                        <div class="govuk-hint govuk-character-count__message"></div>

                    </div>

                    <input type="hidden" name="taskName" value="@Model.TaskName" />
                    <input type="hidden" name="registrationId" value="@Model.RegistrationId" />

                    <button type="submit" class="govuk-button govuk-body govuk-!-margin-top-6" data-module="govuk-button">
                        Mark as queried
                    </button>

                </form>
            </div>
        </div>

    </main>
</div>
