
@using EPR.RegulatorService.Frontend.Core.Enums
@using EPR.RegulatorService.Frontend.Web.Extensions
@using EPR.RegulatorService.Frontend.Web.ViewModels.Registrations
@using EPR.RegulatorService.Frontend.Web.ViewModels.Shared.GovUK

@model EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.ManageRegistrationsViewModel

@{
    ViewData["Title"] = Localizer["AcceptSubmission.Title.ManageRegistrationApplication"];
}

<div class="govuk-width-container">
    <main id="main-content" role="main">

        <span class="govuk-caption-m">Plastic</span>

<h2 class="govuk-heading-m">Review plastic registration</h2>
<p class="govuk-body">Determination date not set yet</p>

<dl class="govuk-summary-list govuk-!-margin-bottom-4">

    @if (Model.ApplicationOrganisationType == ApplicationOrganisationType.Exporter)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Material details and contact</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Overseas reprocessor and interim site details</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Sampling and inspection plan</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Update registration outcome</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>
    }
    else
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Waste licences, permits or excemptions</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Reprocessing inputs and outputs</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Sampling and inspection plan</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                <a class="govuk-link" href="#">Update registration outcome</a>
            </dt>
            <dd class="govuk-summary-list__value govuk-!-text-align-right">
                <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
            </dd>
        </div>

    }


</dl>

</main></div>
