@model List<EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Common.Interfaces.ISubmissionDetailsViewModel>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <h1 class="govuk-heading-l">Search Results</h1>

        @await Component.InvokeAsync("RepExpSubmissionList", new { model = Model })
    </main>
</div>
