@model EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.ReprocessorExporterHomeViewModel

<h2 class="govuk-heading-m">Check registrations are duly made and assign officer</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-4">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            <a class="govuk-link govuk-!-display-block govuk-!-width-full govuk-!-white-space-nowrap" href="#">Check plastic registration is duly made</a>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-text-align-right govuk-!-width-one-third">
            <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            <a class="govuk-link govuk-!-display-block govuk-!-width-full govuk-!-white-space-nowrap" href="#">Check steel registration is duly made</a>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-text-align-right govuk-!-width-one-third">
            <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            <a class="govuk-link govuk-!-display-block govuk-!-width-full govuk-!-white-space-nowrap" href="#">Assign officer</a>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-text-align-right govuk-!-width-one-third">
            <strong class="govuk-tag govuk-tag--blue">NOT STARTED YET</strong>
        </dd>
    </div>
</dl>
