<h2 class="govuk-heading-m">Review plastic registration</h2>
Determination date not set yet

<companies-house-link class="govuk-link govuk-link--no-visited-state">
    Waste licences, permits or exemptions
</companies-house-link>

<a href="@Url.Action( "check-waste-licences", "Registration")" class="elements">
    <span>Waste licences, permits or exemptions</span>
</a>

   Not Started yet
