@using EPR.RegulatorService.Frontend.Core.Enums.ReprocessorExporter

@model EPR.RegulatorService.Frontend.Web.ViewModels.ReprocessorExporter.Registrations.ManageRegistrationsViewModel

<ul class="govuk-list">
  <li>Organisation name: @Model.OrganisationName</li>

  @if(Model.ApplicationOrganisationType == ApplicationOrganisationType.Reprocessor)
  {
        <li>Site: @Model.SiteAddress</li>
  }

    <li>Organisation type: @Model.ApplicationOrganisationType</li>
    <li>Regulator: @Model.Regulator</li>
</ul>
