<h2 class="govuk-heading-m">
    Review plastic registration
    <p class="govuk-body">Determination date is 4 June 2024  <a href="change-determination-date" class="govuk-link">Change</a></p>
</h2>

<ul class="app-task-list__items govuk-!-padding-left-0" style="margin-bottom: 30px;">
@* 
    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            <a href="@Url.ActionLink("WasteLicences", "Registrations")" aria-describedby="#" class="#"> Waste licences, permits or exemptions</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-information-status">Not Started yet</strong><br>
    </li>
    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            <a href="@Url.ActionLink("InputsAndOutputs", "Registrations")" aria-describedby="#" class="#"> Reprocessing inputs and outputs</a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-information-status">Not Started yet</strong><br>
    </li> *@
    <li class="app-task-list__item">
    <span class="app-task-list__task-name">
            <a href="@Url.ActionLink("SamplingInspection", "Registrations")" aria-describedby="#" class="#">Sampling and inspection plan</a>
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-information-status">Not Started yet</strong><br>
    </li>
    @* <li class="app-task-list__item">
    <span class="app-task-list__task-name">
    <a href="update-status" aria-describedby="#" class="#"> Update registration outcome</a>
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-information-status">Not Started yet</strong><br>
    </li> *@
</ul>
