<h2 class="govuk-heading-m"> Review address, permits, licences or exemptions</h2>
<ul class="app-task-list__items govuk-!-padding-left-0" style="margin-bottom: 30px;">

    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            <a href="@Url.ActionLink("BusinessAddress", "Registrations")" aria-describedby="#" class="govuk-link govuk-link--no-visited-state"> Business address </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-information-status">Not Started yet</strong><br>
    </li>
</ul>
