 

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper" style="align-items: center;">
        <h2 class="govuk-summary-card__title ">@Title</h2>
    </div>
    <div class="govuk-summary-card__content" style="padding:30px;">
        <p class=" govuk-body" style="margin:0px;">@Comments</p>
    </div>
</div>
