<h2 class="govuk-heading-m">Downloading File</h2>
<p class="govuk-body">This may take a few minutes. We will refresh the page automatically until it is done.</p>
<p class="govuk-body">Do not close the page and do not refresh it yourself.</p>
<img src="./images/spinner.gif" width="50" height="50" alt="spinner" runat="server">
