@model EPR.RegulatorService.Frontend.Web.ViewModels.RegulatorSearchPage.OrganisationSearchResultsListViewModel
@{
  @if (!Model.PagedOrganisationSearchResults.Any())
  {
    ViewData["Title"] = @Localizer["Page.No.Results.Title"];
  }
  else
  {
    ViewData["Title"] = @Localizer["Page.Results.Title"];
  }
}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

          @if (Model.PagedOrganisationSearchResults.Any())
          {
            <partial name="Partials/_OrganisationSearchResultList" model="Model"/>
          }
          else
          {
            <partial name="Partials/_NoOrganisationSearchResults"/>
          }

      </div>
    </div>
  </main>
</div>
