name: Build & Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore src/EPR.Common/EPR.Common.sln

      - name: Build
        run: dotnet build src/EPR.Common/EPR.Common.sln --no-restore --configuration Release

      - name: Test
        run: dotnet test src/EPR.Common/EPR.Common.sln --no-build --configuration Release --verbosity normal
